<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNBpzqSU-_Ki1fSnGIQ5RtjtCqli8WZI0</string>
	<key>GCM_SENDER_ID</key>
	<string>287347048262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopcart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vegemarket</string>
	<key>STORAGE_BUCKET</key>
	<string>vegemarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287347048262:ios:d91fff4996ebe1ad39ef47</string>
</dict>
</plist>